* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    /* more on this crazy alphanumerical value in a minute! */
    color: #39a6b2;
    font-family: Helvetica, Arial, sans-serif;
  }
  
  /* apply styles to <header> */
  header {
    padding: 70px 35px;
    background-color: #25155e;
  }
  
  header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #fce138;
    margin: 0;
    display: inline;
  }
  header a {
    text-decoration: none;
    color: #fce138;
  }
  
  header nav {
    float: right;
    margin: 7px 0;
  }
  
  header nav ul li {
    display: inline;
  }
  
  header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
  }
  
  .firstwork {
    display:flex;
    flex-direction: column;
    
    
  }
  
  .firstwork h2 {
    font-size: 50px;


  }
  .firstwork img {
    height: 900px;
    width: 1600px;
  }

  .runbuddy {
position: relative;
  }
  .link {
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    visibility: hidden;
    opacity: 0;
    transition: opacity .5s, visibility ;
    background-color: white;
    height: 1080px;
    width: 1800px;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
.link a{
    font-size: 100px;
  }
 .runbuddy:hover .link{
visibility: visible;
opacity: 1;
  }
  .coming {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
     
  }


  footer { 
    background: #fce138;
    width: 100%;
    padding: 40px 35px;
  }
  
  footer h2 {
    display: inline;
    color: #024e76;
    font-size: 30px;
    margin: 0;
  }
  
  footer div {
    float: right;
    line-height: 1.5;
    text-align: right;
  }
  
  footer a {
    color: #024e76;
  }
  
  section {
    padding: 60px;
  }
  
  /* Hero Style Start */
  .hero {
    background-image:url("../images/coding.jpg");
    height: 50%;
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    position:relative;
  }
  /* Hero Style End */
  
  

  
  
  .intro {
    text-align:right;
    float:left
    

  }
  
  .intro p {
    margin-left: 20px;
    margin-top: 150px;
    height: 50%;
    text-align: center;
    color: #39a6b2;
    width: 50%;
    font-size: 20px;
  }

  .intro img {
    width: 50%;
    
    float: left;
  }
  
 #aboutpara {
display:flex;
justify-content: center;
 } 
  

  
  .section-title {
    font-size: 55px;
    color: #024e76;
    margin-bottom: 35px;
    padding: 0 100px 20px 100px;
    display: inline-block;
    border-bottom: 3px solid;
  }
  
  .primary-border {
    border-color: #fce138;
  }
  
  .secondary-border {
    border-color: #39a6b2;
  }
  
  .myworksection {
    text-align: center;
  }
  
  
  
  
  .intro img {
    width: 35%;
    float: left;
  }
  
  .mapouter {
    position: relative;
    text-align: right;
    height: 500px;
    width: 600px;
}
.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 500px;
  width: 600px;
}

 /* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { 

.firstwork img {
  height: 900px;
  width: 1000px;
  
}
.link {
  height: 900px;
  width: 1000px;
}

 }
 /* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 

  .firstwork img {
    
    width: 800px;
    
  }
  .link {
    
    width: 800px;
  }

 }
 /* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 
  .firstwork img {
    height: 600px;
    width: 600px;
    
  }
  .link {
    height: 600px;
    width: 650px;
 
  }
  .comingsoondiv img{
    height: 400px;
    width: 400px;
 
  }

  .link a{
    font-size: 50px;
  }
 }

 
 
 @media (max-width: 575.98px) { 
#aboutpara{
  align-items: center;
  flex-direction: column;
}

.firstwork img {
  height: 400px;
  width: 400px;
  
}
.link {
  height: 400px;
  width: 450px;

}
.comingsoondiv img{
  height: 250px;
  width: 250px;

}

.link a{
  font-size: 50px;
}

.mapouter {
 
  height: 300px;
  width: 300px;
}

.gmap_canvas {
   
    height: 300px;
    width: 300px;
}

  }
 
  